In [10]:
import pandas as pd 
import nba_api as nba 
import requests

In [7]:
from nba_api.stats.static import teams
from nba_api.stats.endpoints import leaguegamefinder
from nba_api.stats.endpoints import scoreboard

In [4]:
nba_teams = teams.get_teams()

In [5]:
nba_teams

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Atlanta',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970},
 {'id': 1610612740,
  'full_name': 'New Orleans Pelicans',
  'abbreviation': 'NOP',
  'nickname': 'Pelicans',
  'city': 'New Orleans',
  'state': 'Louisiana',
  'year_founded': 2002},
 {'id': 1610612741,
  'full_name': 'Chicago Bulls',
  'abbreviation': 'CHI',
  'nickname': 'Bulls',
  'city': 'Chicago',
  'state': 'Illinois',
  'year_founded': 1966},
 {'id': 1610612742,
  'full_name': 'Dallas Mavericks',
  'abbreviation': 'DAL',
  'nickname': 'Mavericks',
  'city': 'Dallas',
  'state': 'Texas',
  'year_founded': 1980},
 {'id': 1610612743,
  'full_name': 'Denver Nuggets',
  'abbreviation': 'DEN',
  'nickname': 'Nuggets',
  'city': 'Denver',
  'state': 'Colorado',
  'year_founded': 1976},
 {'id': 1610612744,
  'full_name': 'Golden State Warriors',
  'abbreviation': 'GSW',
  'nickname': 'Warriors',
  'city': 'Golden State',
  'state': 'California',
  'year_founded': 1946},
 {'id': 1610612745,
  'full_name': 'Houston Rockets',
  'abbreviation': 'HOU',
  'nickname': 'Rockets',
  'city': 'Houston',
  'state': 'Texas',
  'year_founded': 1967},
 {'id': 1610612746,
  'full_name': 'Los Angeles Clippers',
  'abbreviation': 'LAC',
  'nickname': 'Clippers',
  'city': 'Los Angeles',
  'state': 'California',
  'year_founded': 1970},
 {'id': 1610612747,
  'full_name': 'Los Angeles Lakers',
  'abbreviation': 'LAL',
  'nickname': 'Lakers',
  'city': 'Los Angeles',
  'state': 'California',
  'year_founded': 1948},
 {'id': 1610612748,
  'full_name': 'Miami Heat',
  'abbreviation': 'MIA',
  'nickname': 'Heat',
  'city': 'Miami',
  'state': 'Florida',
  'year_founded': 1988},
 {'id': 1610612749,
  'full_name': 'Milwaukee Bucks',
  'abbreviation': 'MIL',
  'nickname': 'Bucks',
  'city': 'Milwaukee',
  'state': 'Wisconsin',
  'year_founded': 1968},
 {'id': 1610612750,
  'full_name': 'Minnesota Timberwolves',
  'abbreviation': 'MIN',
  'nickname': 'Timberwolves',
  'city': 'Minnesota',
  'state': 'Minnesota',
  'year_founded': 1989},
 {'id': 1610612751,
  'full_name': 'Brooklyn Nets',
  'abbreviation': 'BKN',
  'nickname': 'Nets',
  'city': 'Brooklyn',
  'state': 'New York',
  'year_founded': 1976},
 {'id': 1610612752,
  'full_name': 'New York Knicks',
  'abbreviation': 'NYK',
  'nickname': 'Knicks',
  'city': 'New York',
  'state': 'New York',
  'year_founded': 1946},
 {'id': 1610612753,
  'full_name': 'Orlando Magic',
  'abbreviation': 'ORL',
  'nickname': 'Magic',
  'city': 'Orlando',
  'state': 'Florida',
  'year_founded': 1989},
 {'id': 1610612754,
  'full_name': 'Indiana Pacers',
  'abbreviation': 'IND',
  'nickname': 'Pacers',
  'city': 'Indiana',
  'state': 'Indiana',
  'year_founded': 1976},
 {'id': 1610612755,
  'full_name': 'Philadelphia 76ers',
  'abbreviation': 'PHI',
  'nickname': '76ers',
  'city': 'Philadelphia',
  'state': 'Pennsylvania',
  'year_founded': 1949},
 {'id': 1610612756,
  'full_name': 'Phoenix Suns',
  'abbreviation': 'PHX',
  'nickname': 'Suns',
  'city': 'Phoenix',
  'state': 'Arizona',
  'year_founded': 1968},
 {'id': 1610612757,
  'full_name': 'Portland Trail Blazers',
  'abbreviation': 'POR',
  'nickname': 'Trail Blazers',
  'city': 'Portland',
  'state': 'Oregon',
  'year_founded': 1970},
 {'id': 1610612758,
  'full_name': 'Sacramento Kings',
  'abbreviation': 'SAC',
  'nickname': 'Kings',
  'city': 'Sacramento',
  'state': 'California',
  'year_founded': 1948},
 {'id': 1610612759,
  'full_name': 'San Antonio Spurs',
  'abbreviation': 'SAS',
  'nickname': 'Spurs',
  'city': 'San Antonio',
  'state': 'Texas',
  'year_founded': 1976},
 {'id': 1610612760,
  'full_name': 'Oklahoma City Thunder',
  'abbreviation': 'OKC',
  'nickname': 'Thunder',
  'city': 'Oklahoma City',
  'state': 'Oklahoma',
  'year_founded': 1967},
 {'id': 1610612761,
  'full_name': 'Toronto Raptors',
  'abbreviation': 'TOR',
  'nickname': 'Raptors',
  'city': 'Toronto',
  'state': 'Ontario',
  'year_founded': 1995},
 {'id': 1610612762,
  'full_name': 'Utah Jazz',
  'abbreviation': 'UTA',
  'nickname': 'Jazz',
  'city': 'Utah',
  'state': 'Utah',
  'year_founded': 1974},
 {'id': 1610612763,
  'full_name': 'Memphis Grizzlies',
  'abbreviation': 'MEM',
  'nickname': 'Grizzlies',
  'city': 'Memphis',
  'state': 'Tennessee',
  'year_founded': 1995},
 {'id': 1610612764,
  'full_name': 'Washington Wizards',
  'abbreviation': 'WAS',
  'nickname': 'Wizards',
  'city': 'Washington',
  'state': 'District of Columbia',
  'year_founded': 1961},
 {'id': 1610612765,
  'full_name': 'Detroit Pistons',
  'abbreviation': 'DET',
  'nickname': 'Pistons',
  'city': 'Detroit',
  'state': 'Michigan',
  'year_founded': 1948},
 {'id': 1610612766,
  'full_name': 'Charlotte Hornets',
  'abbreviation': 'CHA',
  'nickname': 'Hornets',
  'city': 'Charlotte',
  'state': 'North Carolina',
  'year_founded': 1988}]

In [ ]:
def get_nba_data(begin, end):
    dates = #make a list of the season dates
    for date in dates:
        day_game_data = scoreboard.Scoreboard(day_offset=0 , game_date=date, league_id='00')
        games = day_game_data.get_data_frames()
        outcome = games[1]
        
    #use

In [ ]:
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=celtics_id)

In [8]:
day_game_data = scoreboard.Scoreboard(day_offset=0 , game_date='2019-03-27' , league_id='00')

In [9]:
day_game_data

In [12]:
games = day_game_data.get_data_frames()

In [18]:
len(games)

7

In [37]:
summary = games[0]

In [26]:
outcome = games[1]

In [39]:
summary['outcome'] = outcome.iloc[0,21] - outcome.iloc[1,21]

In [52]:
def create_net_score(summary, outcome):
    games_list = list(range(len(summary)))
    print(games_list)
    outcome = 0
    summary['outcome'] == 0
    for i in games_list:
        skip_value = i + 1
        print(outcome.iloc[i,2])
        if outcome.iloc[i,2] == outcome.iloc[skip_value,2]:
            outcome == outcome.iloc[i,21] - outcome.iloc[skip_value,21]
        else:
            continue 
        summary['outcome'] == outcome
    return summary

In [53]:
create_net_score(summary, outcome)

[0, 1, 2, 3, 4]

AttributeError: 'int' object has no attribute 'iloc'

In [ ]:
def create_winner(summary):
    summary['winner'] = 0
    if

In [46]:
x = 2

In [47]:
summary.iloc[x]

GAME_DATE_EST                       2019-03-27T00:00:00
GAME_SEQUENCE                                         3
GAME_ID                                      0021801119
GAME_STATUS_ID                                        3
GAME_STATUS_TEXT                                  Final
GAMECODE                                20190327/INDOKC
HOME_TEAM_ID                                 1610612760
VISITOR_TEAM_ID                              1610612754
SEASON                                             2018
LIVE_PERIOD                                           4
LIVE_PC_TIME
NATL_TV_BROADCASTER_ABBREVIATION                   ESPN
LIVE_PERIOD_TIME_BCAST                  Q4       - ESPN
WH_STATUS                                             1
outcome                                              20
Name: 2, dtype: object

In [35]:
outcome

,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_WINS_LOSSES,PTS_QTR1,PTS_QTR2,PTS_QTR3,...,PTS_OT8,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV
0,2019-03-27T00:00:00,1,0021801117,1610612757,POR,Portland,47-27,27,32,28,...,0,0,0,118,0.518,0.840,0.344,30,45,8
1,2019-03-27T00:00:00,1,0021801117,1610612741,CHI,Chicago,21-55,14,27,24,...,0,0,0,98,0.429,0.789,0.217,22,44,8
2,2019-03-27T00:00:00,2,0021801118,1610612744,GSW,Golden State,51-23,31,35,23,...,0,0,0,118,0.536,0.867,0.484,30,46,14
3,2019-03-27T00:00:00,2,0021801118,1610612763,MEM,Memphis,30-45,37,23,24,...,0,0,0,103,0.390,0.714,0.323,22,51,9
4,2019-03-27T00:00:00,3,0021801119,1610612754,IND,Indiana,45-30,27,27,15,...,0,0,0,99,0.435,0.545,0.419,26,45,11
5,2019-03-27T00:00:00,3,0021801119,1610612760,OKC,Oklahoma City,44-31,29,16,31,...,0,0,0,107,0.446,0.632,0.361,29,44,6
6,2019-03-27T00:00:00,4,0021801120,1610612764,WAS,Washington,31-45,27,32,30,...,0,0,0,124,0.478,0.674,0.360,18,52,10
7,2019-03-27T00:00:00,4,0021801120,1610612756,PHX,Phoenix,17-59,30,29,31,...,0,0,0,121,0.494,0.808,0.378,22,48,15
8,2019-03-27T00:00:00,5,0021801121,1610612747,LAL,Los Angeles,33-42,25,28,18,...,0,0,0,100,0.381,0.708,0.333,21,40,4
9,2019-03-27T00:00:00,5,0021801121,1610612762,UTA,Utah,45-30,32,28,27,...,0,0,0,115,0.494,0.639,0.313,33,54,11

In [38]:
outcome.columns

Index(['GAME_DATE_EST', 'GAME_SEQUENCE', 'GAME_ID', 'TEAM_ID',
       'TEAM_ABBREVIATION', 'TEAM_CITY_NAME', 'TEAM_WINS_LOSSES', 'PTS_QTR1',
       'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2', 'PTS_OT3',
       'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8', 'PTS_OT9',
       'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST', 'REB', 'TOV'],
      dtype='object')